.turnback {
    text-decoration: none;
    color: black;
}

.turnback:hover {
    text-decoration: underline;
    color: blue;
}

.header {
    font-weight:600;
}

.sectionsholder {
    width: 99%;
    clear: both;
    border: 2px solid #E6F3F7;
}

.sectionsholder:hover {
    font-weight: bold;
}

#coursecontent {
    height: 90vh;
    width: 100%;
}

#sections {
    width: 100%;
}