#content {
    height: 80vh;
    padding-right: 14px;
}

#content * {
    text-align: justify;
}

.paragraphGoBack {
    background-color: blue;
    color: white;
    height: 20px;
    width: 100%;
    cursor: pointer;
}

.paragraphSave {
    background-color: green;
    color: white;
    height: 20px;
    width: 100%;
    cursor: pointer;
    margin-top: -10px;
}

.paragraphClear {
    background-color: red;
    color: white;
    height: 20px;
    width: 100%;
    cursor: pointer;
    margin-top: -10px;
}

.paragraphFinishAttempt {
    background-color: forestgreen;
    color: white;
    height: 40px;
    width: 100%;
    cursor: pointer;
    text-align: center !important;
    font-weight: bold;
    line-height: 3;
}

.buttonConfirmAttempt {
    width: 80%;
    margin-bottom: 12px;
    text-align: center !important;
}

.buttonCancelAttempt {
    width: 80%;
    background-color: red !important;
    text-align: center !important;
}

.divButtonsHolder {
    width: 100%;
    clear: both;
}

.divGradedRight {
    border: 2px solid green;
}

.divGradedWrong {
    border: 2px solid red;
}

.divGradedPartial {
    border: 2px solid yellow;
}

.divNotGraded {
    border: 2px solid black;
}

.loadingHolder img {
    height: 20px;
    width: 20px;
}