.courseli {
    padding: 4px 4px 4px 4px;
}

#courses {
   max-height: 85vh;
}

.courseli i {
    margin-right: 10px;
}

.btnExpand {
    text-align: center;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.liActivityIcon {
    width: 30px;
    float: left;
    padding-left: 12px;
    padding-bottom: 10px;
}

.activitiesContainer li {
    clear: both;
}

.liOpen {

}

.liOverdue {

}

.liClosed {
    text-decoration: dashed;
    color: dimgrey;
}