body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
  padding: 12px 12px 12px 12px;
}

.bold {
    font-weight: bold;
}

.overfloable {
     overflow-y:scroll; 
     overflow-x:auto;
     min-width: 300px;
     padding: 20px 20px 20px 20px;
     height: 75vh;
}

#tableContents {
    border: 2px solid black;
    padding-right: 20px;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.invisible {
    visibility: hidden;
}

#recuperarTabela * {
    display: inline-block;
}

.btnExpand {
    text-align: center;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.bordered {
    border: 1px dashed black;
}

.courseli {
    padding: 4px 4px 4px 4px;
}

.courseli i {
    margin-right: 10px;
}