body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
  padding: 12px 12px 12px 12px;
}

.bold {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.overfloable {
     overflow-y:scroll; 
     overflow-x:auto;
     min-width: 300px;
}

.defaultContent {
     padding: 20px 20px 20px 20px;
     height: 75vh;
     min-height: 300px;
}

.dashboardContent {
    height: 85vh;
    min-height: 300px;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.invisible {
    visibility: hidden;
}

.bordered {
    border: 1px dashed black;
}