body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
  padding: 12px 12px 12px 12px;
  overflow-y: auto;
  overflow-x: auto;
  min-width: 300px;
}

.imgOfflineNavigation {
    width: 80%;
    max-width: 650px;
    margin-top: 40px;
}

.bold {
    font-weight: bold;
}

#api_PathHolder {
    cursor:pointer;
}

.inline-block {
    display: inline-block;
}

.justified {
    text-align: justify;
}

.overfloable {
     overflow-y: auto;
     overflow-x: auto;
     min-width: 300px;
}

.defaultContent {
     padding: 20px 20px 20px 20px;
     height: 75vh;
     min-height: 300px;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.invisible {
    visibility: hidden;
}

.bordered {
    border: 1px dashed gray;
}

.leftOffset {
    padding-right: 15px;
}

.tooltipLabel {
    margin-top: -60px;
}


/* Animations */
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    animation-duration: 3s; 
    animation-fill-mode: both; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count:infinite; 
    animation-name: pulse; 
}