body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
  padding: 12px 12px 12px 12px;
}

.bold {
    font-weight: bold;
}

#api_PathHolder {
    cursor:pointer;
}

.inline-block {
    display: inline-block;
}

.justified {
    text-align: justify;
}

.overfloable {
     overflow-y: auto;
     overflow-x: auto;
     min-width: 300px;
}

.defaultContent {
     padding: 20px 20px 20px 20px;
     height: 75vh;
     min-height: 300px;
}

.dashboardContent {
    height: 85vh;
    min-height: 300px;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.invisible {
    visibility: hidden;
}

.bordered {
    border: 1px dashed gray;
}

@media screen and (max-width:600px) {
    h3 {
        font-size: initial;
        text-align: center;
    }
}